@model IEnumerable<Link2Web.Models.Link>

@{
    ViewBag.Title = "Links";
}

<h2>Links</h2>

<p>
    @Html.ActionLink("Add link", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Project.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LinkId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WebsiteUrl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AnchorText)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DestinationUrl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedOn)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Project.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LinkId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WebsiteUrl)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AnchorText)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DestinationUrl)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedOn)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ProjectId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ProjectId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ProjectId })
        </td>
    </tr>
}

</table>
