@model Link2Web.Models.Project

@{
    ViewBag.Title = "Create";
}

<h2>Create Project</h2>
<hr/>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="col-md-12 col-sm-12 col-xs-12 personal-info">

        <div class="form-group row">
            @Html.LabelFor(model => model.Name, htmlAttributes: new {@class = "control-label col-md-2 col-sm-3 col-xs-12"})
            <div class="col-md-10 col-sm-9 col-xs-12">
                @Html.EditorFor(model => model.Name, new {htmlAttributes = new {@class = "form-control col-md-9 col-xs-12"}})
                @Html.ValidationMessageFor(model => model.Name, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group row">
            @Html.LabelFor(model => model.Email, htmlAttributes: new {@class = "control-label col-md-2 col-sm-3 col-xs-12"})
            <div class="col-md-10 col-sm-9 col-xs-12">
                @Html.EditorFor(model => model.Email, new {htmlAttributes = new {@class = "form-control col-md-9 col-xs-12"}})
                @Html.ValidationMessageFor(model => model.Email, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group row">
            @Html.LabelFor(model => model.Country, htmlAttributes: new { @class = "control-label col-md-2 col-sm-3 col-xs-12" })
            <div class="col-md-10 col-sm-9 col-xs-12">
                @Html.DropDownListFor(model => model.CountryId, null, htmlAttributes: new { @class = "form-control col-md-10 col-sm-9 col-xs-12" })
                @Html.ValidationMessageFor(model => model.Country, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group row">
            @Html.LabelFor(model => model.Url, htmlAttributes: new {@class = "control-label col-md-2 col-sm-3 col-xs-12"})
            <div class="col-md-10 col-sm-9 col-xs-12">
                @Html.EditorFor(model => model.Url, new {htmlAttributes = new {@class = "form-control col-md-9 col-xs-12"}})
                @Html.ValidationMessageFor(model => model.Url, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group row">
            @Html.LabelFor(model => model.PreviewImage, htmlAttributes: new {@class = "control-label col-md-2 col-sm-3 col-xs-12"})
            <div class="col-md-10 col-sm-9 col-xs-12">
                @Html.EditorFor(model => model.PreviewImage, new {htmlAttributes = new {@class = "form-control col-md-9 col-xs-12"}})
                @Html.ValidationMessageFor(model => model.PreviewImage, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group row">
            @Html.LabelFor(model => model.Note, htmlAttributes: new { @class = "control-label col-md-2 col-sm-3 col-xs-12" })
            <div class="col-md-10 col-sm-9 col-xs-12">
                @Html.TextAreaFor(model => model.Note, new { @class = "form-control col-md-9 col-xs-12" })
                @Html.ValidationMessageFor(model => model.Note, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group row">
            <div class="col-sm-12">
                <input type="submit" class="btn btn-primary" value="Save Changes">
                <span></span>
                <input type="reset" class="btn btn-default" value="Cancel">
            </div>
        </div>
    </div>
}

<div>
    <br/>
    <br/>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
