@model Link2Web.Models.Project


<div id="main">
<h2>Project details @Html.DisplayFor(model => model.Name)</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 alert alert alert-success alert-dismissible fade in">
                Project Details
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                @Html.DisplayNameFor(model => model.Url)
            </div>
            <div class="col-lg-6">
                Display Name
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                @Html.DisplayFor(model => model.Url)
            </div>
            <div class="col-lg-6">
                <div class="col">
                    @Html.EditorFor(model => model.Name, new {htmlAttributes = new {@class = "form-control"}})
                </div>
            </div>

        </div>
    </div>
}
</div>