@model IEnumerable<Link2Web.Models.Project>

@{
    ViewBag.Title = "Projects";
}

<div id="main">
    <h2>Projects</h2>

    <p>
        @Html.ActionLink("Create project", "Create")
    </p>

    <div class="container" id="gridList">
        <!--Row with two equal columns-->
        <div class="row" id="gridHeader">
            <div class="hidden-xs col-sm-2 col-md-2 col-lg-2">@Html.DisplayNameFor(model => model.ViewProfileId)</div>
            <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">@Html.DisplayNameFor(model => model.Name)</div>
            <div class="hidden-xs col-sm-3 col-md-3 col-lg-3">@Html.DisplayNameFor(model => model.Email)</div>
            <div class="hidden-xs col-sm-2 col-md-2 col-lg-2">@Resources.Resources.Country</div>
        </div>

        @foreach (var item in Model)
        {
            <div class="row">
                <div class="hidden-xs col-sm-2 col-md-2 col-lg-2">@Html.DisplayFor(modelItem => item.ViewProfileId)</div>
                <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">@Html.DisplayFor(modelItem => item.Name)</div>
                <div class="hidden-xs col-sm-3 col-md-3 col-lg-3">@Html.DisplayFor(modelItem => item.Email)</div>
                <div class="hidden-xs col-sm-2 col-md-2 col-lg-2">@Html.DisplayFor(modelItem => item.Countries.Name)</div>
                <div class="col-xs-6 col-sm-2 col-md-2 col-lg-2">
                    <a class="lnk-space" href='@Url.Action("Select", "Project", new {id = item.ProjectId})'>
                        <span class="glyphicon glyphicon-new-window"></span> Select
                    </a>

                    <a href='@Url.Action("Edit", "Project", new {id = item.ProjectId})'>
                        <span class="glyphicon glyphicon-edit"></span> Edit
                    </a>
                </div>
            </div>
        }
    </div>
</div>