@model Link2Web.Areas.Admin.Models.LinkStatus

@{
    ViewBag.Title = "Edit";
}

<div id="main">
    <h2>Edit</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>LinkStatus</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.LinkStatusId)

            <div class="col-md-12 col-sm-12 col-xs-12 personal-info">
                <div class="form-group row">
                    @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label col-md-2 col-sm-3 col-xs-12" })
                    <div class="col-md-10 col-sm-9 col-xs-12">
                        @Html.EditorFor(model => model.Status, new { htmlAttributes = new { @class = "form-control col-md-9 col-xs-12" } })
                        @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row">
                    @Html.LabelFor(model => model.Visible, htmlAttributes: new { @class = "control-label col-md-2 col-sm-3 col-xs-12" })
                    <div class="checkbox col-md-10 col-sm-9 col-xs-12">
                        @Html.CheckBoxFor(model => model.Visible, new { htmlAttributes = new { @class = "form-control col-md-9 col-xs-12" } })
                        @Html.ValidationMessageFor(model => model.Visible, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-12">
                        <input type="submit" class="btn btn-primary" value="Save Changes">
                        <span></span>
                        <input type="reset" class="btn btn-default" value="Cancel">
                    </div>
                </div>
            </div>
        </div>

    }
</div>