@model IEnumerable<Link2Web.Areas.Admin.Models.Language>

@{
    ViewBag.Title = "Languages";
}

<div id="main">
    <h2>Languages</h2>

    <p>
        @Html.ActionLink("Add language", "Create")
    </p>


    <div class="container" id="gridList">
        <!--Row with two equal columns-->
        <div class="row" id="gridHeader">
            <div class="col-md-4 col-sm-4 col-xs-6">@Html.DisplayNameFor(model => model.Name)</div>
            <div class="col-md-4 col-sm-4 col-xs-hide">@Html.DisplayNameFor(model => model.Code)</div>
            <div class="col-md-4 col-sm-4 col-xs-6"></div>
        </div>

        @foreach (var item in Model)
        {
            <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-6">@Html.DisplayFor(modelItem => item.Name)</div>
                <div class="col-md-4 col-sm-4 col-xs-hide">@Html.DisplayFor(modelItem => item.Code)</div>
                <div class="col-md-4 col-sm-4 col-xs-6">
                    <a class="lnk-space" href='@Url.Action("Edit", "Languages", new {id = item.LanguageId})'>
                        <span class="glyphicon glyphicon-edit"></span> Edit
                    </a>

                    <a href='@Url.Action("Delete", "Languages", new {id = item.LanguageId})'>
                        <span class="glyphicon glyphicon-remove"></span> Delete
                    </a>
                </div>
            </div>
        }

    </div>

</div>
