@model IEnumerable<Link2Web.Models.Contact>

@{
    ViewBag.Title = "Contacts";
}

<h2>Contacts</h2>

<p>
    @Html.ActionLink("Create contact", "Create")
</p>
 
    
    <div class="container" id="gridList">
        <!--Row with two equal columns-->
        <div class="row" id="gridHeader">
            <div class="col-md-3 col-sm-3 col-xs-4 col-lg-3">@Html.DisplayNameFor(model => model.Name)</div>
            <div class="col-md-3 col-sm-3 col-xs-4 col-lg-3">@Html.DisplayNameFor(model => model.Email)</div>
            <div class="col-md-3 col-sm-3 hidden-xs col-lg-3">@Resources.Resources.Country</div>
        </div>

        @foreach (var item in Model)
        {
            <div class="row">
                <div class="col-md-3 col-sm-3 col-xs-4 col-lg-3">@Html.DisplayFor(modelItem => item.Name)</div>
                <div class="col-md-3 col-sm-3 col-xs-4 col-lg-3">@Html.DisplayFor(modelItem => item.Email)</div>
                <div class="col-md-3 hidden-xs col-lg-3">@Html.DisplayFor(modelItem => item.Country.Name)</div>
                <div class="col-md-3 col-sm-3 col-xs-4 col-lg-3">
                    <a href='@Url.Action("Edit", "Contacts", new {id = item.ContactId})'>
                        <span class="glyphicon glyphicon-edit"></span> Edit
                    </a>
                    
                    <a href='@Url.Action("Delete", "Contacts", new {id = item.ContactId})'>
                        <span class="glyphicon glyphicon-remove"></span> Delete
                    </a>
                </div>
            </div>
        }

    </div>

