@using Admin2Web.Helpers
<!DOCTYPE html>
<html lang="@CultureHelper.GetCurrentNeutralCulture()">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title - Admin2Web</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/theme")
    @Styles.Render("~/Content/custom")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("AdditionalResources", false)
</head>
<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border: 0;">
                        <a href='@Url.Action("Index", "Home", new { Area = "" }, null)' class="site_title">
                            <i class="fa fa-paw"></i> <span>Link2Web</span>
                        </a>
                    </div>

                    <div class="clearfix"></div>

                    <!-- menu profile quick info -->
                    <div class="profile clearfix">
                        <div class="profile_pic">
                            <img src="@Url.Action("ProfilePicture", "Home" )" alt="..." class="img-circle profile_img">
                        </div>
                        <div class="profile_info">
                            <span>Welcome,</span>
                            <h2>John Doe</h2>
                        </div>
                    </div>
                    <!-- /menu profile quick info -->

                    <br />

                    <!-- sidebar menu -->
                    @Html.Partial("_Sidebar")

                    <!-- /menu footer buttons -->
                </div>
            </div>

            <!-- top navigation -->
            @Html.Partial("_TopNavigation")
            <!-- /top navigation -->

            <!-- page content -->
            <div class="right_col" role="main">
                @RenderBody()
            </div>

        </div>

        <!-- /page content -->
        <!-- footer content -->
        <footer>
            <div class="pull-right">
                &copy; @DateTime.Now.Year - K2Web.be
            </div>
            <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->
    </div>



    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/theme")
    @Scripts.Render("~/bundles/jqueryval")   
    @RenderSection("scripts", required: false)
</body>
</html>
