<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
        <h3>Rules.General</h3>
        <ul class="nav side-menu">
            <li>
                <a><i class="fa fa-home"></i> Home <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li>
                        @Html.ActionLink("Home", "Index", "Home")
                    </li>
                    <li>
                        @Html.ActionLink("About", "About", "Home")
                    </li>
                    <li>
                        @Html.ActionLink("Contact", "Contact", "Home")
                    </li>
                </ul>
            </li>
            <li>
                <a><i class="fa fa-edit"></i> Projects <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li>
                        @Html.ActionLink("Manage", "Index", "Project")
                    </li>
                </ul>
            </li>
            <li>
                <a><i class="fa fa-edit"></i> Settings <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li>
                        @Html.ActionLink("Manage", "Index", "Setting")
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>