<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
        <h3>Rules.General</h3>
        <ul class="nav side-menu">
            <li>
                <a><i class="fa fa-home"></i> Home <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li>
                        @Html.ActionLink("Home", "Index", "Home", new { Area = "" }, null)
                    </li>
                    <li>
                        @Html.ActionLink("Contact", "Contact", "Home", new { Area = "" }, null)
                    </li>
                </ul>
            </li>
            <li>
                <a><i class="fa fa-edit"></i> Projects <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li>
                        @Html.ActionLink("Manage", "Index", "Project", new {Area = ""}, null)
                    </li>
                </ul>
            </li>

            <li>
                <a><i class="fa fa-edit"></i> Analytics <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li>
                        @Html.ActionLink("Analytics", "Index", "Analytics", new { Area = "" }, null)
                    </li>
                    <li>
                        @Html.ActionLink("Visitors by browser", "GetVisitorsByKeyword", "Analytics", new {Area = ""}, null)
                    </li>
                    <li>
                        @Html.ActionLink("Visitors by keyword", "GetVisitorsByKeyword", "Analytics", new {Area = ""}, null)
                    </li>
                    <li>
                        @Html.ActionLink("Visitors by top referer", "VisitorsByTopReferer", "Analytics", new { Area = "" }, null)
                    </li>
                </ul>
            </li>
            <li>
                <a><i class="fa fa-edit"></i> Links <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li>
                        @Html.ActionLink("Link Manager", "Index", "Links", new {Area = ""}, null)
                    </li>
                </ul>
            </li>
            <li>
                <a><i class="fa fa-edit"></i> Social <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li>
                        @Html.ActionLink("Facebook", "Index", "Home", new { Area = "" }, null)
                    </li>
                </ul>
            </li>
            <li>
                <a><i class="fa fa-edit"></i> Admin <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li>
                        @Html.ActionLink("Currencies", "Index", "Currencies", new {Area = "Admin"}, new {})
                    </li>
                    <li>
                        @Html.ActionLink("Countries", "Index", "Countries", new {Area = "Admin"}, new {})
                    </li>
                    <li>
                        @Html.ActionLink("Link Status", "Index", "LinkStatus", new { Area = "Admin" }, new { })
                    </li>
                    <li>
                        @Html.ActionLink("Link Types", "Index", "LinkTypes", new {Area = "Admin"}, new {})
                    </li>
                    <li>
                        @Html.ActionLink("Website Types", "Index", "WebsiteTypes", new { Area = "Admin" }, new { })
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>