@using Kendo.Mvc.UI
@model Link2Web.ViewModels.AnalyticsViewModel

@{
    ViewBag.Title = "Visitors";
}

@section AdditionalResources
{
    @Styles.Render("~/Content/telerik")
    @Styles.Render("~/Content/telerikgrid")
    @Scripts.Render("~/bundles/telerik")
    @Scripts.Render("~/bundles/telerikgrid")

}


<h2>Visitors</h2>

@(Html.Kendo().Grid(Model.LstAnalyticsData)
    .Name("Grid")
    .Columns(columns =>
    {
        columns.Bound(v => v.Clicks).Title("Clicks");
        columns.Bound(v => v.BounceRate).Title("BounceRate").Width(130);
        columns.Bound(v => v.Date).Title("Date").Width(130);
        columns.Bound(v => v.Hits).Title("Hits").Width(130);
    })
    .HtmlAttributes(new { style = "height: 550px;" })
    .Pageable(pageable => pageable
       .Input(true)
       .Numeric(false)
     )
    .Sortable()
    .Scrollable(scr => scr.Height(430))
    .Filterable()
    .DataSource(dataSource => dataSource
        .Ajax()
        .PageSize(20)
        .ServerOperation(false)
     )
)

