@using Kendo.Mvc.UI
@model Link2Web.ViewModels.AnalyticsViewModel

@{
    ViewBag.Title = "Visitors by keyword";
}

@section AdditionalResources
{
    @Styles.Render("~/Content/telerik")
    @Styles.Render("~/Content/telerikgrid")
    @Scripts.Render("~/bundles/telerik")
    @Scripts.Render("~/bundles/telerikgrid")
    @Styles.Render("~/Content/datatables")
    @Scripts.Render("~/bundles/datatables")

}


<h2>Visitors by keyword</h2>

