@model IEnumerable<Link2Web.Models.Country>

@{
    ViewBag.Title = "Index";
}

<h2>Countries</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div class="container" id="gridList">
    <!--Row with two equal columns-->
    <div class="row" id="gridHeader">
        <div class="col-md-6 col-sm-6">@Html.DisplayNameFor(model => model.Name)</div>
        <div class="col-md-6 col-sm-6">@Html.DisplayNameFor(model => model.Code)</div>
    </div>

    @foreach (var item in Model)
    {
        <div class="row">
            <div class="col-md-4 col-sm-4">@Html.DisplayFor(modelItem => item.Name)</div>
            <div class="col-md-4 col-sm-4">@Html.DisplayFor(modelItem => item.Code)</div>
            <div class="col-md-4 col-sm-4">
                @Html.ActionLink("Edit", "Edit", new {id = item.CountryId}) |
                @Html.ActionLink("Delete", "Delete", new {id = item.CountryId})
            </div>
        </div>
    }

</div>