@model IEnumerable<Link2Web.Models.Setting>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SettingType.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Value)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ValueInt)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SettingType.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Value)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ValueInt)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SettingId }) |
            @Html.ActionLink("Details", "Details", new { id=item.SettingId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SettingId })
        </td>
    </tr>
}

</table>
